.unlimited-features-section .fa{
       color:  #94406e;
}
.headings {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    text-align: left;
    line-height: 1.5em;
    
}
.unlimited-features-section p{
    color: #796f6f
}

header {
    background: url('/img/bg-pattern.png'),
        linear-gradient(to right, #e2142f, #8f4cc5);
}

.header-row {
   
    padding: 100px
}

.imgPhone {
    background: url('/img/demo-screen-1.jpg')center, no-repeat;
    background-repeat: no-repeat;
    background-size: 88%;
    border-radius: 10.5%;
    max-height: 500px;
    width: auto;

}
.stop-waiting-section {
    padding: 150px 0;
    background: url('/img/bg-cta.jpg') no-repeat center center;
    box-shadow: inset 0 0 0 4096px rgba(0, 0, 0, .25);
    background-size: cover;
}

nav.scrolled-nav {
    background: #fff;
}

nav.scrolled-nav .nav-item.second a,
nav.scrolled-nav .nav-item.third a,
nav.scrolled-nav .navbar-brand {
    color: #685c5c;
}

nav .nav-item,
.btn {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}
.stop-waiting-section .headings{
    color: #fff;
    font-size: 4rem;
}
.nav-item a,
.nav-item:hover {
    color: #fff;
}

section {
    padding: 50px;
}

.custom-btn {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    width: 50%;
    height: auto;
    border-radius: 1rem;
    padding: 8px;
}
.fa-heart{
    color: #e2142f;
}
.navbar-brand,
nav.scrolled-nav .nav-item.first a {
    color: #fdcc52;
}

.navbar-brand:hover {
    color: #fff;
}

.mobile-mb-50 {
    margin-bottom: 50px;
}

@media(min-width:768px) {
    .mobile-mb-50 {
        margin-bottom: 0;
    }
}

.vertical-center {
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    
}

.white-color {
    color: #fff;
}
.yellow-bg {
   
    background:#ffd344;
    padding: 150px;
    
}
.yellow-bgsocial {
   
    background:#ffd344;
    padding: 50px;
    
}
.custom-facebook-icon,
.custom-twitter-icon,
.custom-google-plus-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    text-align: center;
    opacity: 0.9;
}
.custom-twitter-icon{
    background-color:#32b1d8;
}
.custom-facebook-icon {
    background-color: #2e3baf;
   opacity: 0.9;
}
.custom-facebook-icon:hover,
.custom-twitter-icon:hover,
.custom-google-plus-icon
 {
    opacity: 1;
}
.custom-google-plus-icon{
    background-color:#ce280b;
}
.custom-facebook-icon i,
.custom-twitter-icon i,
.custom-google-plus-icon i {
    color: #fff;
    line-height: 80px;
}



/***********************************************************/
